<section class="hero" id="team">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Team</h2>
    <br>
    <div class="row">
      <div class="col img-col">
        <img src="jabbar-sir.jpg">
        <p>Dr. MA Jabbar</p>
        <div>Mentor</div>
      </div>
      <div class="col img-col">
        <div class="prashanth-img"></div>
        <p>Mallellu Sai Prashanth</p>
        <div>Team Lead</div>
      </div>
    </div>
    <div class="row">
      <div class="col img-col">
        <div class="akash-img"></div>
        <p>Durga Nagendra Akash Mallareddy</p>
        <div>Team Co-Lead</div>
      </div>
      <div class="col img-col">
        <div class="pranay-img"></div>
        <p>M. Pranay Kashyap</p>
        <div>Member</div>
      </div>
      <div class="col img-col">
        <div class="ajay-img"></div>
        <p>D. Ajay</p>
        <div>Member</div>
      </div>
    </div>
                
  </div>
</section>
