<section class="hero" id="team">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Team</h2>
    <br>
    <div class="row">
      <div class="col img-col">
        <img src="img/jabbar-sir.jpg" height="200px" width="200px">
        <p>Dr. MA Jabbar</p>
        <div>Mentor</div>
      </div>
      <div class="col img-col">
        <img src="img/prashanth.jpg" height="200px" width="200px">
        <p>Mallellu Sai Prashanth</p>
        <div>Team Lead</div>
      </div>
    </div>
    <div class="row">
      <div class="col img-col">
        <img src="img/akashmdn.jpg" height="200px" width="200px">
        <p>Durga Nagendra Akash Mallareddy</p>
        <div>Team Co-Lead</div>
      </div>
      <div class="col img-col">
        <img src="img/pranay.jpg" height="200px" width="200px">
        <p>M. Pranay Kashyap</p>
        <div>Member</div>
      </div>
      <div class="col img-col">
        <img src="img/ajay.jpg" height="200px" width="200px">
        <p>D. Ajay</p>
        <div>Member</div>
      </div>
    </div>
                
  </div>
</section>
